body {
    background-color: antiquewhite;
}
h1 {
    margin: -11px 20px;
    height: 30px;
}
ul {
    list-style: none;
    width: 150px;
}

#sz {
    border: 1px solid black;
    background-color: red;
}

ul >li {
    text-align: left;
    border: 1px solid black;
    background-color: black;
}

ul > li > a {
    color: white;
    text-decoration: none;
}

ul > li > a :hover {
    color: blue;
    text-decoration: underline;
}