* {
    margin: 0px; padding: 0px;
}
ul{
    list-style: none; /* 리스트 앞에 , 제거 */
}
a {
    text-decoration: none; /* 링크 밑에 밑줄제거*/
}

header {
    width: 800px;
    height: 95px;
    background-color: #2d3a4b;
    position: relative;
}

#logo {
    position:absolute;
    top :30px;
    left: 30px;
}

#menu {
    position: absolute;
    top: 20px;
    right: 10px;
    color: white;
}

#menu > a {
    color: white;
}

nav {
    position: absolute;
    bottom: 10px;
    left: 220px;
    font-size: 16px;
}