body {
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
    padding: 0px;
    background-color: yellow;
    border: 1px solid red;
}

#test {
    margin: 10px;
    padding: 10px;
    background-color: blue;
    border: 1px solid greenyellow;
}
